###SublimeText###

# cache files for sublime text
*.tmlanguage.cache
*.tmPreferences.cache
*.stTheme.cache

# workspace files are user-specific
*.sublime-workspace

# project files should be checked into the repository, unless a significant
# proportion of contributors will probably not be using SublimeText
# *.sublime-project

# sftp configuration file
sftp-config.json

#python
*.pyc

# Traefik cert files
docker_configs/traefik/certs

# Ab blacklist
docker_configs/dnsmasq/dnsmasq.blacklist.txt

docker_configs/radicale_old
docker_configs/radicale/data/
